################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/homework/homework/data
/homework/.vs/homework/v16
/homework/homework/x64/Debug
/homework/x64/Debug
